/*
Colors used:
Background Color (Cream White): #fcfbf4;
Primary Color (Han Blue): #465fa4 or rgb(70,103,164);
Secondary Color (Daffodil Yellow): #ffc752;
*/

/* ==============================
General Styles (Body)
================================= */
* {
  box-sizing: border-box;
}

body {
  background-color: #fcfbf4;
  font-family: 'Poppins', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

/* ==============================
Typography & Lists
================================= */

h1 {
  line-height: 1.4;
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  line-height: 1.4;
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  line-height: 1.4;
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  line-height: 1.4;
  font-size: 1.35em;
  font-weight: 400;
}

a {
  color: #465fa4;
  text-decoration: none; /* No underlining */
}

/* ==============================
General link
================================= */
a {
  color: #3168ff;
  text-decoration: none;
}

a:hover {
  color: #ffc752;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:focus {
  color: #7f96d1;
  text-decoration: underline;
}

a:active {
  color: #7f96d1;
  text-decoration: none;
}

.button {
  display: inline-block; /* Keeps it as an inline-block element */
  background-color: #ffc752; /* Daffodil Yellow */
  color: #757575; /* Default text color */
  font-weight: 400;
  text-decoration: none;
  padding: 10px 20px; /* Added padding for better sizing */
  border-radius: 3px;
  opacity: 1;
  transition: background-color 0.2s ease, color 0.2s ease, opacity 0.2s ease;
}

.button:hover {
  opacity: 0.9; /* A subtle reduction in opacity for a hover effect */
  background-color: #465fa4; /* Change background to Han Blue on hover */
  color: #fff; /* Change text color to white */
  text-decoration: none;
}


.button.contact {
  background-color: #ffc752;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.contact:hover {
  background-color: #ff7f50;
  color: #fff;
}

.button:hover {
  opacity: 0.8;
}

/* ==============================
Global Elements
================================= */
header {
  background-color: rgba(252, 251, 244);
  border-bottom: 3px solid #eee;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);
  position: relative;
  padding: 10px 0 4px;
  margin: 10px;
}

.logo {
  max-width: 150px;
  text-align: none;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle {
  position: relative;
}

.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

main {
  padding-top: 56px;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

.social {
  text-align: center;
}

.social a {
  text-align: inline-block;
  margin: 5px;
}

.social svg {
  width: 50px;
  height: auto;
}

/* ==============================
Layout styling
================================= */
.container {
  padding: 0 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  max-width: 1200px;
}

.col-sm-1 { width: 8.33%; }
.col-sm-2 { width: 16.66%; }
.col-sm-3 { width: 25%; }
.col-sm-4 { width: 33.33%; }
.col-sm-5 { width: 41.66%; }
.col-sm-6 { width: 50%; }
.col-sm-7 { width: 58.33%; }
.col-sm-8 { width: 66.66%; }
.col-sm-9 { width: 75%; }
.col-sm-10 { width: 83.33%; }
.col-sm-11 { width: 91.66%; }
.col-sm-12 { width: 100%; }

/* ==============================
Components
================================= */

/* ==============================
Page Specific
================================= */
#hero h1 {
  text-align: center; /* Centers text */
}

#hero h2 {
  text-align: center; /* Centers text */
}

#hero p {
  text-align: center; /* Centers text */
}

#hero span {
  display: block;
}

#hero {
  background-color: rgba(252, 251, 244);
}

#hero {
  background-color: rgba(252, 251, 244);
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#about h1 {
  text-align: center; /* Centers text */
}

.profile-picture {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

/* Hero Section Image Styling */
#hero picture img {
  max-width: 45%; /* Resize image to 45% */
  height: auto;   /* Maintain aspect ratio */
  display: block; /* Ensures it centers properly */
  margin: 0 auto; /* Centers image horizontally */
}

/* ==============================
Animations
================================= */
@keyframes color-change {
  0% { fill: #edc655; }
  50% { fill: #fcffad; }
  100% { fill: #f76414; }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from { transform: translate(0, 50px); }
  to { transform: translate(200px, 50px); }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from { transform: translate(446px, 48px); }
  to { transform: translate(100px, 48px); }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* ==============================
Media Queries
================================= */

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  .navtoggle.responsive li {
    padding: 0;
    border-top: 0;
  }

  .navtoggle li:last-child {
    display: none;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-1 { width: 8.33%; }
  .col-md-2 { width: 16.66%; }
  .col-md-3 { width: 25%; }
  .col-md-4 { width: 33.33%; }
  .col-md-5 { width: 41.66%; }
  .col-md-6 { width: 50%; }
  .col-md-7 { width: 58.33%; }
  .col-md-8 { width: 66.66%; }
  .col-md-9 { width: 75%; }
  .col-md-10 { width: 83.33%; }
  .col-md-11 { width: 91.66%; }
  .col-md-12 { width: 100%; }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-lg-1 { width: 8.33%; }
  .col-lg-2 { width: 16.66%; }
  .col-lg-3 { width: 25%; }
  .col-lg-4 { width: 33.33%; }
  .col-lg-5 { width: 41.66%; }
  .col-lg-6 { width: 50%; }
  .col-lg-7 { width: 58.33%; }
  .col-lg-8 { width: 66.66%; }
  .col-lg-9 { width: 75%; }
  .col-lg-10 { width: 83.33%; }
  .col-lg-11 { width: 91.66%; }
  .col-lg-12 { width: 100%; }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  .navtoggle li:last-child {
    display: none;
  }
}
